{% extends "layout.html" %}

{% block content %}
<br />

<center>
    <img src="../static/images/emblems/java.png" alt="java" height="75" width="75">
    <img src="../static/images/emblems/tomcat.jpg" alt="tomcat" height="75" width="75">
    <img src="../static/images/emblems/net.png" alt="net" height="75" width="75">
    <img src="../static/images/emblems/intellij.png" alt="vs" height="75" width="75">
    <img src="../static/images/emblems/visualstudio.jpg" alt="vs" height="75" width="75">
    <img src="../static/images/emblems/sql.jpg" alt="sql" height="75" width="90">
    <img src="../static/images/emblems/python.jpg" alt="py" height="75" width="75">
    <img src="../static/images/emblems/mongo.jpg" alt="mongo" height="75" width="105">
    <img src="../static/images/emblems/apex.jpg" alt="apex" height="75" width="95">
    <img src="../static/images/emblems/csharp.png" alt="csharp" height="75" width="75">
    <img src="../static/images/emblems/perl.jpg" alt="perl" height="75" width="100">
    <img src="../static/images/emblems/oracle.png" alt="oracle" height="75" width="85">
    <img src="../static/images/emblems/postman.jpg" alt="postman" height="75" width="90">
</center>
<br />

<div class="jumbotron">
    <h1></h1>

    <center><img src="../static/images/creative.jpg" alt="creativelogo" height="400" width="1000"</center>



    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<center>
    <img src="../static/images/emblems/html2.jpg" alt="html" height="75" width="100">
    <img src="../static/images/emblems/wamp.png" alt="wamp" height="75" width="75">
    <img src="../static/images/emblems/atom.jpg" alt="atom" height="75" width="110">
    <img src="../static/images/emblems/json.jpg" alt="json" height="75" width="75">
    <img src="../static/images/emblems/xml.jpg" alt="xml" height="75" width="75">
    <img src="../static/images/emblems/php.png" alt="php" height="75" width="85">
    <img src="../static/images/emblems/lamp.png" alt="lamp" height="75" width="75">
    <img src="../static/images/emblems/linux.gif" alt="linux" height="75" width="75">
    <img src="../static/images/emblems/raspberry.jpg" alt="raspberry" height="75" width="70">
    <img src="../static/images/emblems/flask.jpg" alt="flasd" height="75" width="95">
    <img src="../static/images/emblems/photoshop.jpg" alt="photoshop" height="75" width="105">
    <img src="../static/images/emblems/vscode.jpg" alt="vscode" height="75" width="105">

</center>
<br />
<br />





<div class="row">
    <div class="col-md-4">
        <h3>What's this?</h3>
        <img src="../static/images/HWportrait.jpg" alt="hw" height="340" width="350">
        <br />

        <p>
            <br />

            Hello there! My name is Heather and I am a creative coder. I am a full stack developer that works in a variety of languages and frameworks.
            My background is in Web/Mobile Development and Design and Leadership.
            I code in languages including Java, C#, SQL, Python, Perl, PHP, HTML/CSS/Javascript, and ReactNative.
            I create websites and web/mobile apps in frameworks such as PythonFlask, ASP.NET, Spring and Wordpress.
            This website is produced on PythonFlask and deployed via Raspberry Pi.


           
        <p> <a href=" http://www.heatherwhittlesey.com">www.heatherwhittlesey.com</a></p>
       
        </p>
       
    </div>
    <div class="col-md-4">
        <h3>Design and Leadership</h3>
        <img src="../static/images/glory.jpg" alt="glory" height="240" width="350">
        <br />
        <p>
            <br />
           
            My design background comes from being an art teacher. I taught Ceramics K-12 grade and introductory Ceramics and Glassblowing at Iowa State University.
            I was a freelance glassblower in the third largest art market in the United States and established a repetoire of work in the heart of Santa Fe.
        </p>
       
    </div>
    <div class="col-md-4">
        <h3>GitHub</h3>
        <img src="../static/images/emblems/github.jpeg" alt="github" height="160" width="325">
        <br />
        <p>
            <br />
         
            You can access the code for projects on this site via Github
        </p>

    </div>
</div>

{% endblock %}
