{% extends "layout.html" %}

{% block content %}

<style>
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 25%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    @media screen and (max-width: 650px) {
        .column {
            width: 100%;
            display: block;
        }
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
        padding: 0 16px;
    }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }
</style>

<div class="jumbotron">


    <p class="lead">
        


   
        <center>

            <img src="../static/images/java/javalogo.jpg" alt="code" style="width:10%">
            <br />
            <br />




            <img src="../static/images/java/java2.jpg" alt="code" style="width:100%">
        </center>



    </p>

</div>



<div class="row">
    <div class="column">
        <div class="card">

            <div class="container">

                <h2>BMI Program</h2>
                <p class="title">This console based program translates metric and standard weight to output the BMI using ToString () and Inheritance..</p>


                <img src="../static/images/java/JavaBMI.png" alt="bmi" style="width:100%">
                <img src="../static/images/java/javabmi2.png" alt="bmi2" style="width:100%">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />






                <center><p><a href="https://github.com/hotheadheather/Java/tree/master/BMITest3">BMI Program</a></p></center>

            </div>
         
        </div>
    </div>





    <div class="column">
        <div class="card">
            <div class="container">
                <h2> XML & DOM</h2>

                <p>
                    Utilize DOM Document Object Model to parse to an XML document
                </p>
                <p class="title"></p>
                <img src="../static/images/java/dom.jpg" alt="dom" style="width:100%">
                <img src="../static/images/java/dom2.jpg" alt="dom2" style="width:100%">
                <img src="../static/images/java/dom3.jpg" alt="dom3" style="width:100%">
                <img src="../static/images/java/dom4.jpg" alt="dom4" style="width:100%">
                <br />
                <br />
                <br />
                <br />
                <br />




                <div class="container">





                    <center>
                        <p> <a href=" https://github.com/hotheadheather/Java/tree/master/GlassExwithDOM2">XML with DOM</a></p>
                    </center>

                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>SAX</h2>
                <p>
                    Sample XML program using SAX parsing.
                </p>

                <img src="../static/images/java/dom2.jpg" alt="dom2" style="width:100%">
                <img src="../static/images/java/dom3.jpg" alt="dom3" style="width:100%">
                <img src="../static/images/java/dom4.jpg" alt="dom4" style="width:100%">

                <div class="container">

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />





                    <center><p><a href=" https://github.com/hotheadheather/Java/tree/master/GlassSaxEx">SAX</a></p></center>

                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>JSON</h2>
                <p class="title">
                    Example of program using JSON.simple library
                    http://code.google.com/p/json-simple/ to get jar file.
                </p>

                <img src="../static/images/java/json.jpg" alt="json" style="width:100%">
                <img src="../static/images/java/json2.jpg" alt="json2" style="width:100%">
                <img src="../static/images/java/json3.jpg" alt="json3" style="width:100%">

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />



                <div class="container">






                    <center>
                        <p><a href="https://github.com/hotheadheather/Java/tree/master/GlassJSONExample">JSON</a></p>
                    </center>
                </div>

            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Database</h2>
                <p class="title">
                    This is a database connection to MySQL and inserting records from an xml file and from user input.
                </p>

                <img src="../static/images/java/javadatabase.jpg" alt="javadatabase" style="width:100%">
                <img src="../static/images/java/javadatabase2.jpg" alt="javadatabase2" style="width:100%"


                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
               






                <div class="container">







                    <center>

                    </center>
                </div>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>JSP</h2>
                <p class="title">
                    JSP is Java Server Pages. This is form handling through Apache Tomcat Web Server environment. User input is written to a database in MySQL.
                </p>

                <img src="../static/images/java/jsppage.jpg" alt="jsppage" style="width:100%">
                <img src="../static/images/java/jsppage2.jpg" alt="jsppage2" style="width:100%">
                <img src="../static/images/java/jsppage4.jpg" alt="jsppage4" style="width:100%">
                <img src="../static/images/java/jsppage3.jpg" alt="jsppage3" style="width:100%">

                <br />
                <br />
                <br />
                <br />


                <div class="container">





                    <center>
                        <p><a href="https://github.com/hotheadheather/Java/tree/master/HeathersApps">JSP</a></p>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Spring-JPA</h2>
                <p class="title">
                    Accessing Data with JPA- This app stores Customer POJO's (Plain Old Java Objects) in a memory based database.

                </p>

                <img src="../static/images/java/springjpa.jpg" alt="spring" style="width:100%">
                <img src="../static/images/java/springjpa2.jpg" alt="spring2" style="width:100%">


                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />




                <div class="container">





                    <center>
                        <p><a href="https://github.com/hotheadheather/Java/tree/master/accessingdatajpa">JPA</a></p>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Spring-JDBC</h2>
                <p class="title">
                    Accessing Relational Data using JDBC with Spring. This app allows you to access information via a relational database.

                </p>



                <img src="../static/images/java/springAccess.jpg" alt="springAccess" style="width:100%">
                <img src="../static/images/java/springAccess2.jpg" alt="springAccess" style="width:100%">



                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />



                <div class="container">





                    <center>
                        <p><a href="https://github.com/hotheadheather/Java/tree/master/relationaldataaccess">Relational Data Access</a></p>
                    </center>
                </div>
            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Spring-MySQL</h2>
                <p class="title">
                    Accessing Data with MySQL. This app is connected to a MySQL database.

                </p>

                <img src="../static/images/java/springDatabase.jpg" alt="springdatabase" style="width:100%">
                <img src="../static/images/java/springDatabase2.jpg" alt="springdatabase2" style="width:100%">

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />


                <div class="container">





                    <center>
                        <p><a href="https://github.com/hotheadheather/Java/tree/master/accessing-data-mysql"></a>Accessing Data with MYSQL</p>
                    </center>
                </div>
            </div>
        </div>
    </div>




</div>





    {% endblock %}
