{% extends "layout.html" %}

{% block content %}

<style>
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 25%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    @media screen and (max-width: 650px) {
        .column {
            width: 100%;
            display: block;
        }
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
        padding: 0 16px;
    }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }
</style>

<div class="jumbotron">

    <p class="lead">
        <center>

            <img src="../static/images/python/pythonlogo.jpg" alt="code" style="width:14%">
            <br />
            <br />

            <center><img src="../static/images/python/geo.jpg" alt="pythonbanner" style="width:100%"></center>


        </center>
    </p>

</div>



<div class="row">
    <div class="column">
        <div class="card">

            <div class="container">

                <h2>Snowflake</h2>
                <p class="title">Turtle graphics is a python library. This set of directions in the code instructs the cursor to draw a snowflake.</p>


                <img src="../static/images/python/snowflake.jpg" alt="snowflake" style="width:100%">
       
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
             
             






                <center><p><a href="https://github.com/hotheadheather/Python/tree/master/snowflake">Snowflake</a></p></center>

            </div>
            <a href=" https://github.com/hotheadheather/PHP"></a>
        </div>
    </div>





    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Driver's License</h2>

                <p>
                    This is a program that allows a user to take a test and it is compared to a hard coded answer key.
                </p>
                <p class="title"></p>
                <img src="../static/images/python/driverLicense.jpg" alt="dom" style="width:100%">

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
        


                <div class="container">





                    <center>
                        <p> <a href=" https://github.com/hotheadheather/Python/tree/master/DriversLicenseExam/DriversLicenseExam">Drivers License</a></p>
                    </center>

                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Auto Receipt</h2>
                <p>
                    A python program that uses tkinter library. It accumulates charges when a form is filled out by the user.
                </p>

                <img src="../static/images/python/auto.jpg" alt="auto" style="width:100%">
                <img src="../static/images/python/auto2.jpg" alt="auto2" style="width:100%">
  

                <div class="container">

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
             
              





                    <center><p><a href=" https://github.com/hotheadheather/Java/tree/master/GlassSaxEx">Auto Receipt</a></p></center>

                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Color Jumble</h2>
                <p class="title">
                    This is essentially a rock/paper/scissors game that uses the random() and elif statements. The theme centers around colors where primary > secondary > tertiary > primary.
                </p>

                <img src="../static/images/python/colorJumble.png" alt="colorjamble" style="width:100%">
                <img src="../static/images/python/colorJumble2.png" alt="colorjamble2" style="width:100%">
   

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                
              



                <div class="container">






                    <center>
                        <p><a href="https://github.com/hotheadheather/Python/tree/master/PrimarySecondaryTertiary">Color Jumble</a></p>
                    </center>
                </div>

            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Golf</h2>
                <p class="title">
                    This program uses the write() and rstrip() to accumulate an unlimited amount of players and display them when prompted.
                </p>

                <img src="../static/images/python/golf.jpg" alt="golf" style="width:100%">
                <img src="../static/images/python/golf2.jpg" alt="golf2" style="width:100%">
 
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />





                <div class="container">







                    <center>
                        <p><a href="https://github.com/hotheadheather/Python/tree/master/GolfProgram">Golf</a></p>
                    </center>
                </div>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Paint</h2>
                <p class="title">
                    This program calculates the cost of painting a square footage including the cost of paint.
                </p>

                <img src="../static/images/python/paint.jpg" alt="paint" style="width:100%">


                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />


                <div class="container">





                    <center>
                        <p><a href="https://github.com/hotheadheather/Python/tree/master/lab%205%20paint%20job">Paint Job</a></p>
                    </center>
                </div>
            </div>
        </div>
    </div>

   


</div>





    {% endblock %}
