{% extends "layout.html" %}

{% block content %}

<style>
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 25%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    @media screen and (max-width: 650px) {
        .column {
            width: 100%;
            display: block;
        }
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
        padding: 0 16px;
    }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }
</style>

<div class="jumbotron">
    

    <p class="lead">

        <center><img src="../static/images/php/webdevlogo.jpg" alt="webdevlogo" style="width:30%"></center>
        <br />
    

        <center><img src="../static/images/php/phpbanner.jpg" alt="phpbanner" style="width:100%"></center>


    </p>

</div>



<div class="row">
    <div class="column">
        <div class="card">

            <div class="container">

                <h2>PHP</h2>
                <p class="title">This website is coded primary with PHP.</p>


                <img src="../static/images/php/PhpIndex.jpg" alt="phppottery" style="width:100%">
                <img src="../static/images/php/PhpIndex2.jpg" alt="phppottery2" style="width:100%">
                <img src="../static/images/php/PhpLogin.jpg" alt="phppottery" style="width:100%">
                <img src="../static/images/php/PhpLogin2.jpg" alt="phppottery" style="width:100%">

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />











                <center><p><a href="https://github.com/hotheadheather/PHP/tree/main/hkwproject">Pottery PHP</a></p></center>

            </div>

        </div>
    </div>





    <div class="column">
        <div class="card">
            <div class="container">
                <h2>jQuery</h2>

                <p>
                    This project includes a random image generator and jQuery Effects.

                </p>
                <p class="title"></p>
                <img src="../static/images/web/jQuery1.png" alt="jQuery" style="width:100%">
                <img src="../static/images/web/jQuery2.png" alt="jQuery" style="width:100%">
                <img src="../static/images/web/jQuery3.png" alt="jQuery" style="width:100%">

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />




                <div class="container">





                    <center>
                        <p><a href=" https://github.com/hotheadheather/Web-Development/tree/main/jQuery%20finalproject">jQuery</a></p>
                    </center>



                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Bootstrap</h2>
                <p>
                    A website that was manually coded for bootstrap features.
                </p>

                <img src="../static/images/web/Bootstrap1.png" alt="boots" style="width:100%">
                <img src="../static/images/web/Bootstrap2.png" alt="boots2" style="width:100%">
                <img src="../static/images/web/Bootstrap3.png" alt="boots3" style="width:100%">


                <div class="container">

                    <br />
                    <br />
                    <br />



                    <center>
                        <p><a href=" https://github.com/hotheadheather/Web-Development/tree/main/bootstrap">Bootstrap</a></p>
                    </center>



                </div>
            </div>
        </div>
    </div>



    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Android Studio</h2>
                <p class="title">
                    This android app utilizes a random image generator to deliver facts about art history.
                </p>

                <img src="../static/images/web/mobileDev.png" alt="dev" style="width:100%">
                <img src="../static/images/web/mobileDev2.png" alt="mobdv2" style="width:100%">


                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <center>
                    <p><a href="https://github.com/hotheadheather/Android-Studio">Android Studio</a></p>
                </center>




                <div class="container">


                




                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>React Native</h2>
                <p class="title">
                    Reactive native is a mobile app framework for IOS and Android. These are simple apps such as a temperature converter and toggle buttons with colors.
                </p>


                <img src="../static/images/web/expo1.jpg" alt="mobile" style="width:100%">
                <img src="../static/images/web/expo2.jpg" alt="mobile" style="width:100%">
                <img src="../static/images/web/tempconverter.jpg" alt="mobile" style="width:100%">
                <img src="../static/images/web/button.jpg" alt="mobile" style="width:100%">

                <br />
                <br />
                <br />
                <br />

                <div class="container">



                </div>

            </div>
        </div>
    </div>





    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Wordpress</h2>
                <p class="title">
                    This website was made on the Wordpress CMS - content management system. .
                </p>

                <img src="../static/images/web/wordpress1.png" alt="wp" style="width:100%">
                <img src="../static/images/web/wordpress2.png" alt="wp" style="width:100%">
                <img src="../static/images/web/wordpress3.png" alt="wp" style="width:100%">
                <img src="../static/images/web/wordpress4.png" alt="wp" style="width:100%">
                <br />
                <br />

                <div class="container">




                </div>

            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
            <div class="container">
                <h2>PythonFlask</h2>
                <p class="title">
                    This website was created by a team of developers.
                    The project was created in 3 days and this was for a IHCC ByteJame 2020. The theme was patriotism
                    so we created a website that would allow individuals or businesses to sign up for opportunities to volunteer their time and efforts.
                    Events and attendance were created and stored in tables and certain web pages were accessible when credentials were entered. As a user you were either classified as a business or individual.
                    The website also had a marketplace where you could spend your coin that you accrued from volunteering so you could get swap with the deVoted logo.
                </p>

                <img src="../static/images/web/devoted1.png" alt="wp" style="width:100%">
                <img src="../static/images/web/devoted2.png" alt="wp" style="width:100%">
                <img src="../static/images/web/devoted3.png" alt="wp" style="width:100%">
                <img src="../static/images/web/devoted5.png" alt="wp" style="width:100%">
                <img src="../static/images/web/devoted4.png" alt="wp" style="width:100%">
                <br />
                <br />

                <div class="container">


                    <center>
                        <p><a href="https://github.com/hotheadheather/deVOTEd/tree/main/deVOTEd">deVoted</a></p>
                    </center>
                </div>

            </div>
        </div>
    </div>









</div>





    {% endblock %}
